@import "_config";
@import "mixins/_ddscommon";

/* ==========================================================================
   ddsTable
   ==========================================================================*/

.DdsTable {
    font: $dds-table-font;
    background: $dds-table-background;
    border: $dds-table-border;
    width: $dds-table-width;
    @include border-radius($dds-table-border-radius);
    border-collapse: $dds-table-border-collapse;
}

.DdsTable table {
    width: $dds-table-table-width;
}

.DdsTableHeading {
    border-left: $dds-table-heading-border-left;
    font-size: $dds-table-heading-font-size;
    font-weight: $dds-table-heading-font-weight;
    @include linear-gradient($dds-table-heading-color-start,$dds-table-heading-color-stop);
    color: $dds-table-heading-color;
}

.DdsTableIconColumn,
.DdsTableIconColumnHeading {
    text-align: $dds-table-iconcolumn-text-align;
}

.DdsTableCharColumn,
.DdsTableCharColumnHeading {
    text-align: $dds-table-charcolumn-text-align;
}

.DdsTableBinaryColumn,
.DdsTableBinaryColumnHeading,
.DdsTablePackedColumn,
.DdsTablePackedColumnHeading,
.DdsTableZonedColumn,
.DdsTableZonedColumnHeading {
    text-align: $dds-table-other-columns-text-align;
}

.DdsTableGroupHeading {
    border-left: $dds-table-group-header-border-left;
    border-left-color: $dds-table-group-header-border-left-color;
    @include linear-gradient($dds-table-group-header-background-color-start, $dds-table-group-header-background-color-end);
    color: $dds-table-group-header-color;
    font-size: $dds-table-group-header-font-size;
    font-weight: $dds-table-group-header-font-weight;
    text-align: $dds-table-group-header-text-align;
}

.DdsTableSelectedRow {
    background: $dds-table-selected-row-background;
    color: $dds-table-selected-row-color;
}
