@import "_config";
@import "mixins/_ddscommon";

/* ==========================================================================
   ddsCharField
   ========================================================================== */

.DdsCharField {
    @include dds-field($dds-font-family, $dds-font-size, $dds-input-field-height, $dds-input-field-border, $dds-padding);
}

.DdsCharField_Error {
    @extend .DdsCharField;
    color: $dds-field-error-color;
    background-color: $dds-field-error-background-color;
}

.DdsCharField_OutputOnly {
    @extend .DdsCharField;
    border: none;
}

.DdsCharField_Right {
    @extend .DdsCharField;
    text-align: right;
}

.DdsCharField_Right_Error {
    @extend .DdsCharField_Error;
    text-align: right;
}

.DdsCharField_Right_OutputOnly {
    @extend .DdsCharField_Right;
    border: none;
}

