@import "_config";
@import "mixins/_ddscommon";

/* ==========================================================================
   ddsImage
   ========================================================================== */

.DdsImageChoose {
    height: $dds-image-choose-height;
    font-size: $dds-image-choose-font-size;
}

.DdsImageUpload {
    height: $dds-image-upload-height;
    color: $dds-image-upload-color;
    border: $dds-image-upload-border;
    @include border-radius($dds-image-upload-border-radius);
    @include linear-gradient($dds-image-upload-linear-gradient-color-start, $dds-image-upload-linear-gradient-color-stop);
    float: $dds-image-upload-float;
}

.DdsImageUpload:disabled {
    @include border-radius($dds-image-upload-disabled-border-radius);
    border: $dds-image-upload-disabled-border;
    color: $dds-image-upload-disabled-color;
    background-image: $dds-image-upload-disabled-background-image;
    background-color: $dds-image-upload-disabled-background-color;
    float: $dds-image-upload-float;
}

.DdsImage {
    margin-left: $dds-image-margin-left;
}
